*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.mydada{
    background-color: black;
    
}
hr{
    background-color: black;
    color: black;
}
.myblack{
    
    background-color: black;
    color: azure;
    margin-left: 0%;
width: 100%;

}
.mycaca{
    background-color: black;
    width: 100%;
margin-top: 2%;
padding: 0px;
}
.font{
font-style: initial;
margin: 2px;
}
row g-3{
    margin: 2px;
}